@{
	var viewProperties = ViewData["PropertiesView"] as CustomViewModel;
}
<div class="container">
	<div class="row">
		<div class="col-12">
			<partial name="~/Views/Shared/_AlertError.cshtml" />
		</div>
	</div>
	<div class="row">
		<div class="card border-dark">
			<h5 class="card-header text-center">@SharedTranslations["Visor de archivos"]</h5>
			<div class="card-body text-dark">
				<form method="post" asp-action="Index" aps-controller="FileViewer" class="form-row col-12">
					<div class="col-12 col-sm-6">
						<div class="input-group">
							<input id="file" name="file" type="file" class="form-control" aria-describedby="btnRead" aria-label="Upload">
							<span class="input-group-text">Row</span>
							<input type="text" class="form-control" placeholder="-1" aria-label="Row" title="@SharedTranslations["Fila columnas"]">
							<button class="btn btn-outline-secondary" type="button" id="btnRead" onclick="UploadFileViewer('@viewProperties.ControllerName', 'Index');">@SharedTranslations["Leer"]</button>
						</div>
					</div>
				</form>
				<div id="tableData">
					<partial name="~/Views/FileViewer/_List.cshtml" />
				</div>
			</div>
		</div>
	</div>
	<partial name="~/Views/FileViewer/_Instructions.cshtml" />
</div>
@*@if (User.Identity.IsAuthenticated) {*@
@if (true) {
	<input type="file" class="custom-file-input" id="file" name="file" hidden />
	await Html.RenderPartialAsync("~/Views/FileViewer/_FileViewerScriptsPartial.cshtml");
	<script type="text/javascript">
		var buttons = true;
		var uploadFile = true;
	</script>
} else {
	<script type="text/javascript">
		var buttons = true;
		var buttons = false;
	</script>
}
@*} else {
    <script type="text/javascript">
        var buttons = false;
        var uploadFile = false;
    </script>
}*@
@section Styles {
	@{
		await Html.RenderPartialAsync("~/Views/Shared/Scripts/_TableStylesPartial.cshtml");
	}
}
@section Scripts {
	@{
		await Html.RenderPartialAsync("~/Views/Shared/Scripts/_TableScriptsPartial.cshtml");
	}
}
