@model RecursosViewModel
<input asp-for="RecursoModel.Id" type="text" class="form-control" hidden>
<div class="form-row">
    <div class="col-sm-12">
        <label asp-for="RecursoModel.Nombre"></label>
        <input asp-for="RecursoModel.Nombre" type="text" class="form-control" required>
        <span asp-validation-for="RecursoModel.Nombre" class="text-danger"></span>
    </div>
    <div class="col-sm-6">
        <label asp-for="RecursoModel.Pueblo"></label>
        <input asp-for="RecursoModel.Pueblo" type="text" class="form-control">
    </div>
    <div class="col-sm-6">
        <label asp-for="RecursoModel.Provincia"></label>
        <input asp-for="RecursoModel.Provincia" type="text" class="form-control">
    </div>
    <div class="col-sm-6">
        <label asp-for="RecursoModel.Pais"></label>
        <input asp-for="RecursoModel.Pais" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="RecursoModel.Notas"></label>
        <textarea asp-for="RecursoModel.Notas" type="text" class="form-control"></textarea>
        <span asp-validation-for="RecursoModel.Notas" class="text-danger"></span>
    </div>
    <div class="col-sm-12">
        <label asp-for="RecursoModel.Url"></label>
        <textarea asp-for="RecursoModel.Url" type="text" class="form-control" required></textarea>
        <span asp-validation-for="RecursoModel.Url" class="text-danger"></span>
    </div>
</div>