@model FSRecordModel
<input asp-for="Id" type="text" class="form-control" hidden>
<div class="form-row">
	@* @{
		foreach (var item in Model.GetType().GetProperties()) {
			<div class="col-sm-12">
				<label asp-for="@item.Name"></label>
				<input asp-for="@item.Name" type="text" class="form-control" required>
				<span asp-validation-for="@item.Name" class="text-danger"></span>
			</div>
		}
	} *@
	<div class="col-sm-12">
		<label asp-for="FSFilmId"></label>
		<input asp-for="FSFilmId" type="text" class="form-control" required>
		<span asp-validation-for="FSFilmId" class="text-danger"></span>
	</div>
	<div class="col-sm-6">
		<label asp-for="Citation"></label>
		<input asp-for="Citation" type="text" class="form-control">
	</div>
	<div class="col-sm-6">
		<label asp-for="NumberRecord"></label>
		<input asp-for="NumberRecord" type="text" class="form-control">
	</div>
	<div class="col-sm-12">
		<label asp-for="Observaciones"></label>
		<textarea asp-for="Observaciones" type="text" class="form-control"></textarea>
		<span asp-validation-for="Observaciones" class="text-danger"></span>
	</div>
	<div class="col-sm-12">
		<label asp-for="Url"></label>
		<textarea asp-for="Url" type="text" class="form-control" required></textarea>
		<span asp-validation-for="Url" class="text-danger"></span>
	</div>
</div>