@model IndicesViewModel
<input asp-for="IndiceModel.Id" type="text" class="form-control" hidden>
<div class="form-row">
    <div class="col-sm-6">
        <label asp-for="IndiceModel.Pueblo"></label>
        <input asp-for="IndiceModel.Pueblo" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="IndiceModel.Periodo"></label>
        <input asp-for="IndiceModel.Periodo" type="text" class="form-control">
    </div>
    <div class="col-sm-6">
        <label asp-for="IndiceModel.PartidoJudicial"></label>
        <input asp-for="IndiceModel.PartidoJudicial" type="text" class="form-control">
    </div>
    <div class="col-sm-6">
        <label asp-for="IndiceModel.Provincia"></label>
        <input asp-for="IndiceModel.Provincia" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="IndiceModel.RegistroCatalogo"></label>
        <input asp-for="IndiceModel.RegistroCatalogo" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="IndiceModel.UrlRegistroCatalogo"></label>
        <input asp-for="IndiceModel.UrlRegistroCatalogo" type="text" class="form-control">
    </div>
    <div class="col-sm-4">
        <label asp-for="IndiceModel.Microfilm"></label>
        <input asp-for="IndiceModel.Microfilm" type="text" class="form-control">
    </div>
    <div class="col-sm-4">
        <label asp-for="IndiceModel.GrupoDeImagenes"></label>
        <input asp-for="IndiceModel.GrupoDeImagenes" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="IndiceModel.NombreColeccionFamilySearch"></label>
        <textarea asp-for="IndiceModel.NombreColeccionFamilySearch" type="text" class="form-control"></textarea>
    </div>
    <div class="col-sm-12">
        <label asp-for="IndiceModel.CitaReferencia"></label>
        <textarea asp-for="IndiceModel.CitaReferencia" type="text" class="form-control"></textarea>
    </div>
    <div class="col-sm-12">
        <label asp-for="IndiceModel.Observaciones"></label>
        <textarea asp-for="IndiceModel.Observaciones" type="text" class="form-control"></textarea>
    </div>
    <div class="col-sm-12">
        <label asp-for="IndiceModel.Url"></label>
        <textarea asp-for="IndiceModel.Url" type="text" class="form-control"></textarea>
    </div>
</div>