@model IndiceImagenModel 
<input asp-for="Id" type="text" class="form-control" hidden>
<div class="form-row">
    <div class="col-sm-6">
        <label asp-for="Pueblo"></label>
        <input asp-for="Pueblo" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="Año"></label>
        <input asp-for="Año" type="text" class="form-control">
    </div>
    <div class="col-sm-6">
        <label asp-for="PartidoJudicial"></label>
        <input asp-for="PartidoJudicial" type="text" class="form-control">
    </div>
    <div class="col-sm-6">
        <label asp-for="Provincia"></label>
        <input asp-for="Provincia" type="text" class="form-control">
    </div>
@*    <div class="col-sm-12">
        <label asp-for="RegistroCatalogo"></label>
        <input asp-for="RegistroCatalogo" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="UrlRegistroCatalogo"></label>
        <input asp-for="UrlRegistroCatalogo" type="text" class="form-control">
    </div>
    <div class="col-sm-4">
        <label asp-for="Microfilm"></label>
        <input asp-for="Microfilm" type="text" class="form-control">
    </div>
    <div class="col-sm-4">
        <label asp-for="GrupoDeImagenes"></label>
        <input asp-for="GrupoDeImagenes" type="text" class="form-control">
    </div>
    <div class="col-sm-12">
        <label asp-for="NombreColeccionFamilySearch"></label>
        <textarea asp-for="NombreColeccionFamilySearch" type="text" class="form-control"></textarea>
    </div>
    <div class="col-sm-12">
        <label asp-for="CitaReferencia"></label>
        <textarea asp-for="CitaReferencia" type="text" class="form-control"></textarea>
    </div>*@
    <div class="col-sm-12">
        <label asp-for="Observaciones"></label>
        <textarea asp-for="Observaciones" type="text" class="form-control"></textarea>
    </div>
    <div class="col-sm-12">
        <label asp-for="Url"></label>
        <textarea asp-for="Url" type="text" class="form-control"></textarea>
    </div>
</div>