<footer class="border-top footer fixed-bottom text-muted">
    <div class="container">
        &copy; 2024 - @SharedTranslations["Genealogy"] - <a asp-area="" asp-controller="Home" asp-action="Privacy">@SharedTranslations["Prvacidad"]</a>
    </div>
    <partial name="_Cookies" />
</footer>